        /* The Modal (popup) */
        .modal {
            /* Initially hidden by default */
            display: none; 
            /* Stay in place */
            position: fixed; 
            /* Full width and height */
            z-index: 1000; /* High z-index to ensure it's on top */
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            /* Black background with opacity */
            overflow: auto; 
            background-color: rgba(0,0,0,0.7); 
        }

        /* Modal Content/Box */
        .modal-content {
            /* Center the box */
            background-color: #fefefe;
            margin: 5% auto; /* 5% from the top for a higher placement */
            padding: 20px;
            border: 1px solid #888;
            width: 90%; 
            max-width: 700px; 
            border-radius: 8px;
            box-shadow: 0 4px 12px #0000004d;
            /* Style to look more like the popup in the video */
            border-left: 5px solid #0b1021; /* Red/Orange sidebar */
        }
        
        .modal-content h2 {
            color: #0b1021;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }

        /* The Close Button (X) */
        .close {
            color: #aaa;
            float: right;
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
/*******************************************************************************************************/
.disclaimer {
    margin-top: 20px;
    font-style: italic;
    font-size: 14px;
    color: #444;
}
.link-btn {
    background: linear-gradient(1deg, #000720, #00000000);
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 30px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.profile-img img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    box-shadow: 0 0 20px #ffffff;
    }
